  * {
      padding: 0px;
      margin: 0px;
  }
  
  body {
      height: auto;
  }
  
  header {
      text-align: center;
      color: navy;
      background-color: white;
      border: 1px solid white;
  }
  
  nav {
      font: 16px bold;
      background-color: navy;
  }
  
  .row {
      background-color: rgb(255, 239, 210);
  }
  
  .perimeter {
      height: 72px;
      border: 1px dashed black;
      padding: 2px;
  }
  /*.perimeter is descriptive, it will be deleted in the final file*/
  
  .googleadspace {
      height: 100px;
      padding: 2px;
  }